// @font-face {
//     font-family: 'YekanBakh';
//     src:  url('../fonts/YekanBakh/VariableFont/Webfonts/woff/YekanBakh-VF.woff') format('woff'),
//           url('../fonts/YekanBakh/VariableFont/Webfonts/woff/YekanBakhFaNum-VF.woff') format('woff'),
//           url('../fonts/YekanBakh/VariableFont/Webfonts/woff//YekanBakhNoEn-VF.woff') format('woff');
// }

// @font-face {
//     font-family: 'YekanBakh';
//     src:  url('../fonts/YekanBakh/FontFamily/Webfonts/woff/YekanBakh-Thin.woff') format('woff');
//     font-weight: 400;
// }

// @font-face {
//     font-family: 'YekanBakh';
//     src:  url('../fonts/YekanBakh/FontFamily/Webfonts/woff2/YekanBakh-Thin.woff2') format('woff2');
//     font-weight: 400;
// }

@font-face {
    font-family: 'YekanBakh';
    src:  url('../fonts/YekanBakh/FontFamily/Webfonts/woff/YekanBakh-Regular.woff') format('woff');
    font-weight: 400;
    font-weight: 500;
}

@font-face {
    font-family: 'YekanBakh';
    src:  url('../fonts/YekanBakh/FontFamily/Webfonts/woff2/YekanBakh-Regular.woff2') format('woff2');
    font-weight: 400;
    font-weight: 500;
}

@font-face {
    font-family: 'YekanBakh';
    src:  url('../fonts/YekanBakh/FontFamily/otf/YekanBakh-Regular.otf') format('otf');
    font-weight: 400;
    font-weight: 500;
}

@font-face {
    font-family: 'YekanBakh';
    src:  url('../fonts/YekanBakh/FontFamily/Webfonts/woff/YekanBakh-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'YekanBakh';
    src:  url('../fonts/YekanBakh/FontFamily/otf/YekanBakh-Bold.otf') format('otf');
    font-weight: 700;
}

@font-face {
    font-family: 'YekanBakh';
    src:  url('../fonts/YekanBakh/FontFamily/Webfonts/woff/YekanBakh-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'YekanBakh';
    src:  url('../fonts/YekanBakh/FontFamily/otf/YekanBakh-SemiBold.otf') format('otf');
    font-weight: 600;
}
@font-face {
    font-family: 'YekanBakh';
    src:  url('../fonts/YekanBakh/FontFamily/Webfonts/woff/YekanBakh-Black.woff') format('woff');
    font-weight: 900;
}

// @font-face {
//     font-family: 'FontAwesome';
//     src:  url('../fonts/fontAwesome/webfonts/fa-solid-900.woff2') format('woff2'),
// }

// @font-face {
//     font-family: 'FontAwesome';
//     src:  url('../fonts/fontAwesome/webfonts/fa-solid-900.ttf') format('ttf'),
// }

// @font-face {
//     font-family: 'FontAwesome';
//     src:  url('../fonts/fontAwesome/webfonts/fa-brands-400.woff2') format('woff2'),
// }

// @font-face {
//     font-family: 'FontAwesome';
//     src:  url('../fonts/fontAwesome/webfonts/fa-brands-400.ttf') format('ttf'),
// }

// @font-face {
//     font-family: 'FontAwesome';
//     src:  url('../fonts/fontAwesome/webfonts/fa-regular-400.woff2') format('woff2'),
// }


// @font-face {
//     font-family: 'FontAwesome';
//     src:  url('../fonts/fontAwesome/webfonts/fa-regular-400.ttf') format('ttf'),
// }

// @font-face {
//     font-family: 'FontAwesome';
//     src:  url('../fonts/fontAwesome/webfonts/fa-v4compatibility.woff2') format('woff2'),
// }


// @font-face {
//     font-family: 'FontAwesome';
//     src:  url('../fonts/fontAwesome/webfonts/fa-v4compatibility.ttf') format('ttf'),
// }