* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "YekanBakh" !important;
  direction: rtl !important;
  letter-spacing: -1px;
}

body {
  overflow-x: hidden;
}

i {
  font-family: "FontAwesome" !important;
}
a {
  text-decoration: none;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.container-main {
  max-width: 1920px;
  padding-left: 138px;
  padding-right: 138px;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.menu {
  .menu-navbar {
    padding-bottom: 32px;
    padding-top: 24px;
    border-bottom: 1px solid #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right {
      .logo {
        width: 177px;
        height: 44px;
        display: inline-flex;
        img {
          display: block;
          object-fit: contain;
          width: 100%;
          max-width: 100%;
          height: 100%;
          max-height: 100%;
        }
      }
    }
    .left {
      .menu-navbar-btn {
        border-radius: 12px;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 16px;
        font-weight: 500;
        padding: 12px 14px;
        img {
          width: 28px;
          height: 28px;
          margin-left: 6px;
        }
      }
    }
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  .video-container {
    max-width: 814px;
    max-height: 518px;
    width: 814px;
    min-width: 814px;
    height: 518px;
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
    }
    // .banner{
    // }
    .play {
      position: absolute;
      // left: 0;
      // bottom: 0;
      // top: 0;
      // bottom: 0;
      width: 64px;
      height: 64px;
      cursor: pointer;
    }
    .main-video {
      width: 100%;
      height: 100%;
      min-width: 100%;
      border-radius: 24px;
      object-fit: contain;
    }
  }
  .left {
    padding-right: 28px;
    .title {
      span {
        color: var(--primary-color);
        line-height: 74px !important;
        font-weight: 900;
      }
      font-size: 40px;
      font-weight: 700;
      line-height: 62px;
      width: 86%;
      color: var(--dark-color);
      padding-bottom: 12px;
    }
    .subTitle {
      font-size: 16px;
      font-weight: 400;
      color: var(--gray-color);
      line-height: 30px;
      width: 75%;
    }
    .bottom {
      margin-top: 90px;
      &-title {
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 12px;
        color: var(--dark-color);
      }
      &-subTitle {
        font-size: 14px;
        color: var(--gray-color);
        padding-bottom: 24px;
      }
      &-form {
        input {
          padding: 4px 12px;
          color: #c4c4c4;
          border: 1px solid #dbdbdb;
          border-radius: 12px;
          height: 49px;
          outline: none;
          width: 50.5%;
          max-width: 397px;
          margin-left: 16px;
          &:hover {
            outline: none;
          }
          &::placeholder {
            color: #c4c4c4;
            font-weight: 500;
            font-size: 15px;
          }
        }
        button {
          color: var(--white-color);
          background: var(--secondary-color);
          border: none;
          padding: 12px 32px;
          border-radius: 12px;
          text-align: center;
        }
      }
    }
  }
}

.portfolio {
  margin-top: 68px;

  .title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    display: block;
  }

  .tabs {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 16px;

    margin-inline: auto;
    margin-top: 80px;
    font-size: 16px;
    font-weight: 600;

    * {
      padding: 12px 24px;
      color: var(--dark-color);
      cursor: pointer;
      user-select: none;
    }

    .active {
      color: var(--white-color);
      background-color: var(--primary-color);
      border-radius: 24px;
    }
  }

  .items {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 106px;
    column-gap: 50px;

    .item:nth-child(2n) {
      // justify-self: end;
      justify-self: center;
    }

    .item:nth-child(2n + 1) {
      // justify-self: start;
      justify-self: center;
    }

    .item {
      width: fit-content;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .detail {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 100px;

        * {
          font-weight: 600;
          font-size: 16px;
          color: var(--gray-color);
        }

        .title {
          color: var(--dark-color);
          font-weight: 700;
          font-size: 20px;
        }

        .description {
          margin-top: 4px;
        }

        .site {
          margin-top: 8px;
        }

        .link {
          margin-top: 12px;
          color: var(--primary-color);

          .icon {
            height: 16px;
            width: 16px;
          }
        }
      }

      .banner {
        width: 100%;
        height: auto;
      }
    }
  }
}

.customers {
  margin-top: 109px !important;

  .title {
    text-align: center;
    display: block;
  }

  .items {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;

    .item {
      padding: 24px 34px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        border-radius: 12px; /* Same border-radius as the element */
        background: url("../img/bg/border-frame.svg") no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        z-index: 5;
      }

      img {
        height: 100%;
        width: auto;
        z-index: 10;
      }
    }
  }
}

.your-voices {
  margin-top: 135px;
  background-color: #e7f9f9;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 190px;
    background: #ffffff url("../img/bg/abstract-bg-1.svg") center center/cover no-repeat;
    z-index: 20;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 220px;
    z-index: 20;
    background: #ffffff url("../img/bg/abstract-bg-2.svg") center center/cover no-repeat;
  }

  .content {
    .items {
      margin-top: 33px;
      display: grid;
      justify-items: stretch;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;

      .item {
        height: 390px;
        background-color: var(--white-color);
        border-radius: 24px;
        padding: 40px 40px 17px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .person {
          width: 181px;
          height: 184px;
          background-color: var(--slate-color);
          border-radius: 1000px;
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2px;
          margin-top: 24px;

          .name {
            font-size: 20px;
            font-weight: 700;
            color: var(--dark-color);
          }

          .position {
            color: var(--gray-color);
            font-size: 16px;
            font-weight: 600;
          }
        }

        .player {
          margin-top: 24px;
          display: flex;
          flex-direction: column;
          width: 100%;

          .tools {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;

            .play,
            .volume {
              height: 20px;
              width: 20px;
              cursor: pointer;
            }

            .time-line {
              flex-grow: 1;
              position: relative;

              .progress-bar {
                --played-percent: 0%;

                cursor: pointer;
                height: 8px;
                position: relative;

                .trigger {
                  position: absolute;
                  top: 0;
                  left: var(--played-percent);
                  width: 8px;
                  height: 8px;
                  border-radius: 99px;
                  background-color: var(--dark-color);
                  z-index: 10;
                }

                .progress {
                  height: 2px;
                  border-radius: 99px;
                  background-color: #d2d2d2;
                  position: relative;

                  .played {
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: var(--played-percent);
                    background-color: var(--dark-color);
                  }
                }
              }

              .time {
                position: absolute;
                margin-top: 4px;
                color: #929292;
                font-size: 12px;
                display: flex;
                gap: 3px;
              }
            }
          }
        }
      }
    }
  }
}

.team-members {
  display: flex;
  align-items: center;

  .images-slider {
    width: 40%;

    .image-slide {
      position: relative;

      * {
        width: 100%;
      }

      .ellipse {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
      }
    }
  }

  .content {
    width: 60%;
    padding: 99px;

    .description {
      margin-top: 16px;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      color: #7c7c7c;
    }

    .member {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 2px;

      .name {
        font-size: 20px;
        font-weight: 700;
      }

      .position {
        font-size: 18px;
        color: #7c7c7c;
      }
    }
  }
}

.comments {
  background-color: #e7f9f9;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 190px;
    background: #ffffff url("../img/bg/abstract-bg-1.svg") center center/cover no-repeat;
    z-index: 20;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 220px;
    z-index: 20;
    background: #ffffff url("../img/bg/abstract-bg-2.svg") center center/cover no-repeat;
  }

  .content {
    position: relative;

    .swiper-container {
      display: flex;
      flex-direction: column;
      margin-top: 48px;
      width: 100%;
      height: auto;
      overflow-x: hidden;

      .swiper-wrapper {
        height: 100%;
        display: flex;

        // each items
        .swiper-slide {
          display: flex;
          flex-direction: column;
          height: auto;

          padding: 24px;
          background-color: var(--white-color);

          border-radius: 16px;
          border-top-right-radius: 80px;

          cursor: grab;

          &:active {
            cursor: grabbing;
          }

          img {
            width: 104px;
            height: 104px;
            border-radius: 99px;
          }

          .description {
            margin-bottom: 0;
            margin-top: 24px;
            font-size: 17px;
            color: var(--dark-color);
            font-weight: 600;
            line-height: 26.35px;
          }

          hr {
            margin: 16px 0;
            border-color: #e5e5e5;
          }

          .info {
            display: flex;
            flex-direction: column;

            .name {
              font-size: 16px;
              font-weight: 700;
              color: var(--dark-color);
            }

            .position {
              font-size: 14px;
              font-weight: 600;
              color: #7c7c7c;
            }
          }
        }
      }
    }

    .swiper-pagination {
      margin-top: 24px;
      position: static;
      display: flex;
      justify-content: end;

      .swiper-pagination-bullet {
        background-color: var(--dark-color);
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: 60%;
      transform: translateY(-60%);
      color: var(--dark-color);
    }

    .swiper-button-next {
      left: 5%;
    }

    .swiper-button-prev {
      right: 5%;
    }
  }
}

// Breakpoints for responsive design
@media (max-width: 1024px) {
  .comments .content .swiper-slide {
    min-width: calc(100% / 2); // Show 2 slides per view on medium screens
  }
}

@media (max-width: 768px) {
  .comments .content .swiper-slide {
    min-width: 100%; // Show 1 slide per view on small screens
    margin: 0; // Remove the space between slides
  }
}

.questions {
  display: flex;
  justify-content: space-between;
  margin-top: 40px !important;

  & > * {
    width: 45%;
  }

  .right {
    .accordion {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 0px;

      .item {
        flex-grow: 1;

        .title {
          display: block;
          width: 100%;
          font-weight: 600;
          font-size: 20px;
          background-color: #fafafa;
          border-radius: 20px;
          padding: 24px;
          cursor: pointer;
          user-select: none;
        }

        .text {
          padding: 0 9px;
          color: var(--gray-color);
          font-size: 16px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease, padding 0.3s ease, margin-top 0.3s ease;
        }

        .text.show {
          max-height: 500px;
          padding: 0 9px;
          margin-top: 24px;
        }
      }
    }
  }

  .left {
    margin-top: 80px;

    .banner {
      width: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;

      .title {
        margin-top: 24px;
        font-weight: 700;
        font-size: 24px;
        color: var(--dark-color);
      }

      .description {
        margin-top: 16px;
        font-size: 16px;
        color: var(--gray-color);
      }

      .form {
        margin-top: 24px;
        display: flex;
        gap: 12px;

        * {
          border-radius: 12px;
          outline: none;
          border: none;
        }

        button {
          background-color: var(--secondary-color);
          color: var(--white-color);
          padding: 12px 32px;
        }

        input {
          padding: 13px 12px;
          flex-grow: 1;
          border: 1px solid #dbdbdb;

          &::placeholder {
            color: #c4c4c4;
          }

          & {
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            // For Firefox
            & {
              -moz-appearance: textfield;
            }
          }
        }
      }
    }
  }
}

.contact-us {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;

  .item {
    .header {
      display: flex;
      justify-content: start;
      gap: 8px;
      padding: 0;

      .icon {
        width: 24px;
        height: 24px;

        img {
          height: 100%;
          width: auto;
          display: block;
          margin: auto;
        }
      }

      .type {
        font-size: 16px;
        font-weight: 600;
        color: var(--gray-color);
      }
    }

    .time {
      margin-top: 4px;
      color: var(--gray-color);
      font-size: 14px;
      margin-right: 32px;
    }

    .numbers,
    .mail {
      margin-right: 32px;
      display: flex;
      gap: 32px;

      a {
        color: var(--dark-color);
      }
    }

    .numbers {
      a {
        font-size: 15px;
      }
    }

    .mail {
      margin-top: 4px;
      a {
        font-size: 16px;
      }
    }
  }

  .address {
    margin-top: 25px;
    width: 100%;

    .header {
      gap: 8px;
      padding-top: 0;
      width: fit-content;
    }

    .text {
      margin-top: 12px;
      margin-right: 32px;
    }
  }
}

.footer-description {
  margin-top: 40px;

  span {
    font-weight: 700;
    font-size: 18px;
  }

  p {
    margin-top: 16px;
    line-height: 26px;
    font-size: 16px;
    color: #8f8f8f;

    a {
      color: var(--primary-color);
      font-weight: 400;
    }
  }
}

.certifications {
  margin-top: 40px;
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  gap: 24px;

  a {
    width: 120px;
    height: 120px;
  }
}

.creator {
  margin-top: 24px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;

  *:nth-child(1) {
    color: var(--dark-color);
    font-size: 16px;
  }

  *:nth-child(2) {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
  }
}

// --------------------

.divider {
  margin-top: var(--divider-margin-top, 90px) !important;
  height: var(--divider-height, 8px);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #f9f9f9;
    // background-color: #f00;
  }
}

.bg-line-pattern {
  position: absolute;
  top: 800px;
  left: 0px;

  width: 100%;
  z-index: -10;
}
